.cta {
    padding: 64px;
    text-align: center;

    &--grey {
        background-color: $grey;
    }

    &--blue {
        background-image: linear-gradient(to right, #373fff, #00fff0);
        text-align: left;
    }
}

.cta__heading {
    color: $white;
    font-size: 58px;
    font-weight: 300;
    margin-bottom: 16px;
}

.cta__button {
    border: 1px solid $white;
    border-radius: 33px;
    color: $white;
    display: inline-block;
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 300;

    &:hover {
        color: $grey;
        background-color: $white;
        text-decoration: none;
        transition: $transition-base;
    }
}
