.staff__row {
    justify-content: center;
    margin: 0 15px;

    @include media-breakpoint-up(md) {
        justify-content: space-between;
    }
}

.staff__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--secondary {
        text-align: center;
        max-width: 250px;
    }

    &--primary {
        margin-top: 16px;

        .staff__details {
            margin-left: 44px;
        }
    }

    @include media-breakpoint-up(md) {
        &--secondary {
            max-width: 250px;

            .staff__photo__container {
                margin-bottom: 8px;
            }
        }

        &--primary {
            margin-top: 0;
            margin-bottom: 64px;
            flex-direction: row;

            .staff__details {
                margin-left: 44px;
            }
        }
    }
}

.staff__photo {
    overflow: hidden;
    border-radius: 50%;
    height: 250px;
    width: 250px;

    img {
        width: 100%;
        height: auto;
    }
}

.staff__name {
    color: $grey;
    margin-bottom: 0;

    .staff__container--primary & {
        font-size: 36px;
    }

    .staff__container--secondary & {
        font-size: 24px;
        font-weight: 300;
    }
}

.staff__position {
    color: $purple;
    font-weight: 300;

    .staff__container--primary & {
        font-size: 24px;
    }

    .staff__container--secondary & {
        font-size: 18px;
    }
}

.staff__bio {
    .staff__container--primary & {
        font-weight: 300;
    }
}
