$grey: #565454;
$light-grey: #7e7e7e;
$pink: #ff43e1;
$dark-pink: #ed3a95;
$purple: #a143ff;
$light-blue: #43ffdd;
$blue: #43c7ff;
$dark-blue:#373fff;

$svg-stroke: #959494;

$body-color: $light-grey;

$grid-gutter-width: 50px;

$font-family-sans-serif: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
