h1 {
    color: #592253;
}

body {
    color: #565454;
}

.global__padding {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar {
    padding: 0rem;
    justify-content: center;
    background-color: white;
}

.navbar-collapse {
    max-width: 66.66%;
}

.navbar-nav {
    flex: 1;
    justify-content: space-between;
}

.navbar__logo {
    margin: auto;
    padding: 0 1rem;
}

.nav-item {
    min-width: 200px;
    flex: 1 0 auto;
    -webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out;
}

.nav-link:hover {
    color: white;
    background-color: #b08cb9;
}

.nav-link {
    color: #565454;
    font-weight: 600;
    padding: 2rem 0.5rem;

    -webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out;
}

.banner {
    position: relative;
}

.banner__text {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner__home h1 {
    flex: 0 1 50%;
    color: white;
}

.banner__home {
    color: white;
    text-align: left;
}

.banner__home__title {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.banner__home__subtitle {
    font-weight: 300;
}

.banner__home__packages {
    text-align: center;
}

.banner__home__packages .banner__text {
    justify-content: center;
}

.banner__home__packages img {
    filter: brightness(0.80);
}

.banner__home__packages h1 {
    font-size: 4rem;
    color: white;
}

.banner__home__packages a {
    font-size: 2rem;
    font-weight: 400;
    color: white;

    -webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out;
}

.banner__home__packages a:hover {
    color: #84497e;
    text-decoration: none;
}

.banner__packages .banner__text {
    justify-content: center;
}

.banner__packages h1 {
    color: white;
}

.banner__packages img {
    filter: brightness(0.80);
}

.banner__about-us img {
    filter: brightness(0.80);
}

.banner__about-us h1 {
    color: white;
    text-align: center;
}

.banner__about-us h1::before {
    content: '"';
}

.banner__about-us h1::after {
    content: '"';
}

.contact h1 {
    padding-bottom: 1rem;
}

.contact button {
    background-color: #b08cb9;
    border: 2px solid #b08cb9;
    color: white;
}

.contact button:hover {
    background-color: white;
    color: #b08cb9;
}

.home__mary h2 {
    color: #84497e;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.home__headshot {
    border-radius: 50%!important;
    overflow: hidden;
    padding-top: 70%;
    position: relative;
    width: 70%;
    margin: auto;
}   

.home__headshot__img {
    left: -25%;
    position: absolute;
    top: -25%;
    max-width: 150%;
}

.home__features-list {
    color: #565454;
}

.home__features-list svg {
    color: #4e2149;
}

.home__services__service {
    border-radius: .25rem;
    border: 1px solid #959494;
    color: #565454;
    margin: 1rem; 
    padding: 1rem;

    -webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out;
}

.home__services__service:hover {
    background-color: #b08cb9;
    color: white;
    text-decoration: none;
}

.testimonials .testimonials__testimonial {
    text-align: center;
}

.testimonials .testimonials__testimonial__name {
    text-align: right;
    font-style: italic;
}

.package__image {
    filter: brightness(0.80);
}

.package__image__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.package__image__text h1 {
    color: white;
}

.package__includes__title {
    margin: 2rem auto 1rem;
    box-shadow: 0px 3px 5px;
    text-align: center;
    padding: 0.5rem;
}

.package__includes__title > p {
    color: #84497e;
    margin: 0;
}

.package__list {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.package__list > li::before {
    content: '\2013';
    display: inline-block;
    margin-left: -1.3rem;
    width: 1rem;
}

.package {
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(176, 150, 185, 0.5);
}

.package__includes__list {
    display: flex;
    flex-wrap: wrap;
}

.package__includes__list__item {
    padding-right: 1rem;
    display: flex;
    flex: 1 1 50%;
}

.package__includes__list__item svg {
    margin: auto 1rem auto 0;
}

.package__includes__list__item p {
    margin: auto 1rem auto 0;
}

.bg {
    background: url('http://via.placeholder.com/2000x250') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 350px; 
    top:0;
    left:0;
    z-index: -1;
}

.padding {
    padding: 4rem 2rem;
    margin: auto;
}

.staff__row {
    padding: 2rem 0rem;
}

.staff__image__container {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.staff__image__container img {
    width: 150%;
    top: -70%;
    left: -25%;
    position: absolute;
}


.staff__title {
    height: 6rem;
}

.staff__name {
    color: #84497e;
    font-weight: 500;
}

.staff__card {
    height: 100%;
    overflow: hidden;
}

.card-flip {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.card-flip,
.front,
.back {
    width: 100%;
    height: 20rem;
}

.flip {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.card-flip:hover .flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back .card-body {
    background-color: #b08cb9;
    color: white;
    text-align: center;
}

.testimonials .carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2384497e' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 1.5rem;
    height: 1.5rem;
}

.testimonials .carousel-control-next {
    justify-content: flex-start;
}

.testimonials .carousel-control-prev-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2384497e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 1.5rem;
    height: 1.5rem;
}

.testimonials .carousel-control-prev {
    justify-content: flex-end;
}

.testimonials .carousel-indicators li {
    background-color: #b08cb9;
}

.testimonials .carousel-indicators .active {
    background-color: #84497e;
}

footer {
    padding: 2rem 0;
    background-color: #565454;
    color: white;
}

.footer__menu__column {
    display: flex;
    flex: 1 1 33.33%;
    justify-content: center;
}

.footer__menu__column ul {
    list-style: none;
}

.footer__menu__item__title {
    font-weight: 500;
    padding-bottom: 1rem;
}

.footer__menu__item__links {
    padding-bottom: 1rem;
}

.footer__menu__item__links a {
    color: white;
}

.footer__menu__item__links a:hover {
    color: #b08cb9;
}
